name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3.1.1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
        pip install -r requirements-dev.txt

    - name: Test with tox
      run: python -m tox

    - name: installing coveragepy for codecov upload
      # the codecov github action needs this package to find the reports
      run: pip install coverage codecov

    - name: upload coverage to codecov
      if: |
        !(
          github.event_name == 'pull_request' &&
          github.event.pull_request.user.login == 'dependabot[bot]'
        )
      run: codecov --required --tries 10
